body {
  overflow: hidden;
}


#domNav {
  position: absolute;
  top: calc(100% - 100px);
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navButtons {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
