
@media screen and (min-width: 800px) {

  #tooltip {
    position: absolute;
    top: 20%;
    width: 200px;
    height: auto;
    z-index: 50;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
  }
  
  #mainlogo {
    position: absolute;
    width: 25%;
    min-width: 250px;
    padding: 2%;
  }
  


  .toolsection {
    border: 1px solid white;
    margin: 10px;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    cursor: default;
  }
  
  .toolsection:hover {
    color: black;
    background-color: white;
  }
  
  #purchase {
    position: absolute;
    top: 20%;
    left: calc(100% - 200px);
    width: 200px;
    height: auto;
    z-index: 50;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
  }
  
    

}


@media screen and (max-width: 800px) {


  #mainlogo {
    position: absolute;
    z-index: 55;
    width: 96%;
  }


  #tooltip {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    height: auto;
    z-index: 50;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
    font-size: xxx-large;
  }
  



  
  .toolsection {
    border: 1px solid white;
    margin: 10px;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    cursor: default;
  }
  
  .toolsection:hover {
    color: black;
    background-color: white;
  }
  
  #purchase {
    position: absolute;
    top: 20%;
    left: calc(100% - 200px);
    width: 200px;
    height: auto;
    z-index: 50;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
  }
  
}


#domNav {
  position: absolute;
  top: calc(100% - 100px);
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navButtons {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
